build/
visualizacion_grafo_9_equipos_coloreo_r1_square.png
visualizacion_grafo_9_equipos_coloreo_r2_square.png
visualizacion_grafo_9_equipos_coloreo_square.png
cortes.png
cortes_especificos.png
america.png
cali.png
chico.png
dim.png
juju.png
millos.png
nacho.png
pats.png
santa_fe.png